p {
  padding: 0;
  margin: 0;
}
.mask-large {
  position: absolute;
  width: 10%;
}

/* img {
  display: block;
} */

.container {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  background-image: url('/images/map.png');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dialog-section {
  font-size: 26px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.dialog-text,
.dialog-next {
  margin: 0;
}

.dialog-next,
.dialog-start {
  color: blue;
  text-decoration: none;
  z-index: 1;
}

.dialog-start {
  pointer-events: none;
  /* pointer-events: visible; */
  color: teal;
}
.dialog-start--active {
  pointer-events: visible;
  color: blue;
  font-weight: 700;
}
.regions {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.regions-part {
  width: 33%;
  height: 50%;
  /* border: 1px solid green; */
}

.regions-europe,
.regions-northamerica,
.regions-asia,
.regions-southamerica,
.regions-africa,
.regions-australia {
  position: relative;
}

.regions-northamerica {
  height: 62%;
}

.regions-asia {
  height: 65%;
}
.regions-southamerica {
  width: 40%;
  height: 40%;
}

.regions-africa {
  width: 25%;
  height: 40%;
}
.regions-australia {
  width: 25%;
}

.man {
  cursor: pointer;
}

.man-l {
  width: 30px;
}
.man-m {
  width: 20px;
}
.man-s {
  width: 12px;
}

.men-northamerica,
.men-europe,
.men-asia,
.men-southamerica,
.men-africa,
.men-australia {
  position: absolute;
  z-index: 1;
}
.men-northamerica {
  top: 51%;
  left: 59%;
}
.men-europe {
  top: 60%;
  left: 50%;
}
.men-asia {
  top: 63%;
  left: 16%;
}
.men-southamerica {
  top: -9%;
  left: 74%;
}
.men-australia {
  top: 6%;
  left: 63%;
}

/* devices */
.device {
  width: 40px;
  z-index: 1000;
}

.device-s,
.device-m,
.device-l {
  position: absolute;
}

/* north america */
.devices-northamerica {
  position: relative;
  top: 48%;
  left: 46%;
  z-index: 1000;
}

.devices-northamerica .device-s {
  left: 106px;
  top: 42px;
  /* z-index: 1000; */
}
.devices-northamerica .device-m {
  left: 60px;
  top: 68px;
}
.devices-northamerica .device-l {
  left: 10px;
  top: 42px;
}
/*europe */
.devices-europe {
  position: relative;
  top: 60%;
  left: 48%;
}

.devices-europe .device-s {
  left: 44px;
  top: 22px;
}
.devices-europe .device-m {
  left: -46px;
  top: 60px;
}
.devices-europe .device-l {
  left: 116px;
  top: -6px;
}
/*asia */
.devices-asia {
  position: relative;
  top: 47%;
  left: 46%;
}

.devices-asia .device-s {
  left: -72px;
  top: 107px;
}
.devices-asia .device-m {
  left: -186px;
  top: 132px;
}
.devices-asia .device-l {
  left: -22px;
  top: 38px;
}
/*south america */
.devices-southamerica {
  position: relative;
  top: -13%;
  left: 97%;
}

.devices-southamerica .device-s {
  left: -78px;
  top: 36px;
}
.devices-southamerica .device-m {
  left: -104px;
  top: 95px;
}
.devices-southamerica .device-l {
  left: -144px;
  top: 10px;
}
/*australia */
.devices-australia {
  position: relative;
  left: 99%;
  top: -9%;
}

.devices-australia .device-s {
  left: -50px;
  top: 90px;
}
.devices-australia .device-m {
  left: -154px;
  top: 94px;
}
.devices-australia .device-l {
  left: -102px;
  top: 90px;
}

.circle-empty {
  width: 52px;
  z-index: 1;
}
.circle-empty--westusa,
.circle-empty--europe,
.circle-empty--oceania,
.circle-empty--eastusa {
  position: absolute;
}

.circle-empty--westusa {
  top: 65%;
  left: 40%;
}
.circle-empty--eastusa {
  top: 62%;
  left: 83%;
}
.circle-empty--europe {
  top: 66%;
  left: 46%;
}
.circle-empty--oceania {
  top: -4%;
  left: 40%;
}

.line {
  position: absolute;
  z-index: 0;
  animation: 1.5s blinker linear infinite;
}
@keyframes blinker {
  0% {
    filter: drop-shadow(5px 5px 5px #222);
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
    filter: drop-shadow(5px 5px 5px #222);
  }
  100% {
    opacity: 1;
  }
}

.east-usa_north-america_large {
  top: -6%;
  left: -2%;
}
.east-usa_north-america_medium {
  top: -7%;
  left: -3%;
}
.east-usa_north-america_small {
  top: -7%;
  left: -3%;
}
.west-usa_north-america_large {
  top: -7%;
  left: -1%;
}
.west-usa_north-america_medium {
  top: -7%;
  left: -1%;
}
.west-usa_north-america_small {
  top: -7%;
  left: -1%;
}

.east-usa_europe_large {
  top: -9%;
  left: -1%;
}
.east-usa_europe_medium {
  top: -5%;
  left: -2%;
}
.east-usa_europe_small {
  top: -6%;
  left: -2%;
}

.west-usa_europe_large {
  top: -7%;
  left: -1%;
}
.west-usa_europe_medium {
  top: -7%;
  left: -1%;
}
.west-usa_europe_small {
  top: -7%;
  left: -1%;
}

.east-usa_asia_large {
  top: -9%;
  left: -1%;
}
.east-usa_asia_medium {
  top: -7%;
  left: -3%;
}
.east-usa_asia_small {
  top: -7%;
  left: -3%;
}
.west-usa_asia_large {
  top: -9%;
  left: -1%;
}
.west-usa_asia_medium {
  top: -7%;
  left: -3%;
}
.west-usa_asia_small {
  top: -7%;
  left: -3%;
}

.east-usa_oceania_large {
  top: -9%;
  left: -1%;
}
.east-usa_oceania_medium {
  top: -7%;
  left: -3%;
}
.east-usa_oceania_small {
  top: -7%;
  left: -3%;
}
.west-usa_oceania_large {
  top: -9%;
  left: -1%;
}
.west-usa_oceania_medium {
  top: -7%;
  left: -3%;
}
.west-usa_oceania_small {
  top: -7%;
  left: -3%;
}

.east-usa_south-america_large {
  top: -9%;
  left: -1%;
}
.east-usa_south-america_medium {
  top: -7%;
  left: -3%;
}
.east-usa_south-america_small {
  top: -7%;
  left: -3%;
}
.west-usa_south-america_large {
  top: -9%;
  left: -1%;
}
.west-usa_south-america_medium {
  top: -7%;
  left: -3%;
}
.west-usa_south-america_small {
  top: -7%;
  left: -3%;
}

/* europe lines */
.germany_asia_large {
  top: -11%;
  left: -101%;
}
.germany_asia_medium {
  top: -11%;
  left: -101%;
}
.germany_asia_small {
  top: -11%;
  left: -101%;
}
.germany_europe_large {
  top: -13%;
  left: -101%;
}
.germany_europe_medium {
  top: -13%;
  left: -101%;
}
.germany_europe_small {
  top: -12%;
  left: -100%;
}
.germany_north-america_large {
  top: -13%;
  left: -102%;
}
.germany_north-america_medium {
  top: -11%;
  left: -101%;
}
.germany_north-america_small {
  top: -10%;
  left: -102%;
}
.germany_south-america_large {
  top: -13%;
  left: -102%;
}
.germany_south-america_medium {
  top: -10%;
  left: -101%;
}
.germany_south-america_small {
  top: -13%;
  left: -102%;
}
.germany_oceania_large {
  top: -12%;
  left: -100%;
}
.germany_oceania_medium {
  top: -13%;
  left: -100%;
}
.germany_oceania_small {
  top: -13%;
  left: -100%;
}

/* australia lines */
.singapore_asia_large {
  top: -138%;
  left: -261%;
}
.singapore_asia_medium {
  top: -138%;
  left: -261%;
}
.singapore_asia_small {
  top: -138%;
  left: -261%;
}
.singapore_europe_large {
  top: -138%;
  left: -261%;
}
.singapore_europe_medium {
  top: -138%;
  left: -261%;
}
.singapore_europe_small {
  top: -138%;
  left: -261%;
}
.singapore_north-america_large {
  top: -138%;
  left: -261%;
}
.singapore_north-america_medium {
  top: -138%;
  left: -261%;
}
.singapore_north-america_small {
  top: -138%;
  left: -261%;
}
.singapore_south-america_large {
  top: -138%;
  left: -261%;
}
.singapore_south-america_medium {
  top: -138%;
  left: -261%;
}
.singapore_south-america_small {
  top: -138%;
  left: -261%;
}
.singapore_oceania_large {
  top: -137%;
  left: -261%;
}
.singapore_oceania_medium {
  top: -138%;
  left: -261%;
}
.singapore_oceania_small {
  top: -136%;
  left: -263%;
}

/* final table */

.table-background {
  width: 100%;
  height: 131%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 58%;
  background-color: linen;
  z-index: 1000;
}

.final-table {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  position: absolute;
  top: 6%;
  left: 12%;
  z-index: 2000;
}

.final-table__title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.final-table__bytecloud,
.final-table__objectstorage {
  width: 46%;
}

.final-table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 50px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
  background-color: #b4d9a5;
}

.final-region {
  text-transform: capitalize;
}

.final-table__data {
  display: flex;
  justify-content: space-between;
}

.final-table__latency,
.final-table__downloadtime,
.final-table__videostreaming {
  background-color: #b4d9a5;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 14px;
}
.final-table__latency {
  flex-grow: 1;
}
.final-table__downloadtime {
  flex-grow: 2;
}
.final-table__videostreaming {
  flex-grow: 2;
}
.final-table__rating {
  display: flex;
}

.star,
.star-empty {
  width: 16px;
}

.devices-animation--small,
.devices-animation--medium,
.devices-animation--large {
  position: absolute;
  z-index: 1000;
  background-color: blue;
  opacity: 0.8;
  border-radius: 2px;
}

.devices-northamerica__animation--small {
  width: 32px;
  height: 19px;
  top: 50px;
  left: 110px;
  animation: 8s device-small cubic-bezier(0, 0, 1, 1);
}
.devices-northamerica__animation--medium {
  width: 20px;
  height: 28px;
  top: 74px;
  left: 70px;
  animation: 8s device-medium cubic-bezier(0, 0, 1, 1);
}
.devices-northamerica__animation--large {
  width: 14px;
  height: 8px;
  top: 53px;
  left: 23px;
  animation: 8s device-large cubic-bezier(0, 0, 1, 1);
}
.devices-europe__animation--small {
  width: 32px;
  height: 19px;
  top: 31px;
  left: 48px;
  animation: 8s device-small cubic-bezier(0, 0, 1, 1);
}
.devices-europe__animation--medium {
  width: 20px;
  height: 28px;
  top: 66px;
  left: -36px;
  animation: 8s device-medium cubic-bezier(0, 0, 1, 1);
}
.devices-europe__animation--large {
  width: 14px;
  height: 8px;
  top: 6px;
  left: 129px;
  animation: 8s device-large cubic-bezier(0, 0, 1, 1);
}
.devices-asia__animation--small {
  width: 32px;
  height: 19px;
  top: 116px;
  left: -68px;
  animation: 8s device-small cubic-bezier(0, 0, 1, 1);
}
.devices-asia__animation--medium {
  width: 20px;
  height: 28px;
  top: 138px;
  left: -176px;
  animation: 8s device-medium cubic-bezier(0, 0, 1, 1);
}
.devices-asia__animation--large {
  width: 14px;
  height: 8px;
  top: 50px;
  left: -8px;
  animation: 8s device-large cubic-bezier(0, 0, 1, 1);
}
.devices-southamerica__animation--small {
  width: 32px;
  height: 19px;
  top: 45px;
  left: -74px;
  animation: 8s device-small cubic-bezier(0, 0, 1, 1);
}
.devices-southamerica__animation--medium {
  width: 20px;
  height: 28px;
  top: 101px;
  left: -94px;

  animation: 8s device-medium cubic-bezier(0, 0, 1, 1);
}
.devices-southamerica__animation--large {
  width: 14px;
  height: 8px;
  top: 21px;
  left: -131px;
  animation: 8s device-large cubic-bezier(0, 0, 1, 1);
}
.devices-oceania__animation--small {
  width: 32px;
  height: 19px;
  top: 99px;
  left: -46px;
  animation: 8s device-small cubic-bezier(0, 0, 1, 1);
}
.devices-oceania__animation--medium {
  width: 20px;
  height: 28px;
  top: 100px;
  left: -144px;
  animation: 8s device-medium cubic-bezier(0, 0, 1, 1);
}
.devices-oceania__animation--large {
  width: 14px;
  height: 8px;
  top: 101px;
  left: -88px;
  animation: 8s device-large cubic-bezier(0, 0, 1, 1);
}

@keyframes device-small {
  0% {
    width: 0px;
  }
  25% {
    width: 8px;
  }
  50% {
    width: 15px;
  }
  75% {
    width: 23px;
  }
  100% {
    width: 33px;
  }
}
@keyframes device-medium {
  0% {
    width: 0px;
  }
  25% {
    width: 5px;
  }
  50% {
    width: 10px;
  }
  75% {
    width: 15px;
  }
  100% {
    width: 20px;
  }
}
@keyframes device-large {
  0% {
    width: 0px;
  }
  25% {
    width: 4px;
  }
  50% {
    width: 7px;
  }
  75% {
    width: 11px;
  }
  100% {
    width: 14px;
  }
}
@keyframes device-small--recount {
  0% {
    width: 0px;
  }
  25% {
    width: 8px;
  }
  50% {
    width: 15px;
  }
  75% {
    width: 23px;
  }
  100% {
    width: 33px;
  }
}
@keyframes device-medium--recount {
  0% {
    width: 0px;
  }
  25% {
    width: 5px;
  }
  50% {
    width: 10px;
  }
  75% {
    width: 15px;
  }
  100% {
    width: 20px;
  }
}
@keyframes device-large--recount {
  0% {
    width: 0px;
  }
  25% {
    width: 4px;
  }
  50% {
    width: 7px;
  }
  75% {
    width: 11px;
  }
  100% {
    width: 14px;
  }
}

.final-dialog {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  background-color: inherit;
  opacity: 0.9;
  z-index: 1000;
}
.start-again {
  color: blue;
  cursor: pointer;
}
.hide {
  display: none;
}

.latency-europe,
.latency-asia,
.latency-northamerica,
.latency-southamerica,
.latency-oceania,
.time-europe,
.time-asia,
.time-northamerica,
.time-southamerica,
.time-oceania {
  position: absolute;
  font-weight: 600;
  box-shadow: 0px 0px 12px 3px lavender;
  padding: 5px;
  border-radius: 4px;
  background-color: lavender;
  opacity: 0.9;
  z-index: 10;
}

.latency-europe,
.time-europe {
  top: 266px;
  left: 293px;
}
.latency-asia,
.time-asia {
  top: 292px;
  left: 38px;
}
.latency-oceania,
.time-oceania {
  top: 22px;
  left: 186px;
}
.latency-southamerica,
.time-southamerica {
  top: -61px;
  left: 341px;
}
.latency-northamerica,
.time-northamerica {
  top: 330px;
  left: 224px;
}
